.breadcrumbContainer {
  height: 25px;
  font-size: 12px;
  color: #333;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  
}

.breadcrumbList {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin: 10px;
}

.breadcrumbItem {
  white-space: nowrap;
  color: black;
}

.breadcrumbContainer a {
  text-decoration: none;
  transition: color 0.2s ease;
}



.breadcrumbSeparator {
  margin: 0 0.5rem;
  color: #555;
}
@media (max-width: 480px) {
  .breadcrumbContainer {
    height: auto;
    font-size: 10px; /* más pequeño */
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .breadcrumbList {
    flex-wrap: wrap; /* si no cabe en una línea se rompe */
    margin: 5px 0;
    overflow-x: scroll;
  }

  .breadcrumbItem {
    white-space: nowrap;
    margin-right: 5px;
  }

  .breadcrumbSeparator {
    margin: 0 0.3rem;
  }

  .breadcrumbContainer a {
    font-size: 10px;
  }
}
