.toast-container-admin {
  background-color: #db703b; /* color navbar */
  color: white;
  border-radius: 8px;
  font-weight: bold;
  min-width: 300px;
  padding: 10px;
}

.toastBodyAdmin p {
  margin: 0;
  font-size: 14px;
}

.toastButtonsAdmin {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-end;
}

.toast-progress-admin {
  background: #ffb84d; /* barra de progreso amarilla */
}
