.navBarContainer {
  width: 100%;
  height: 75px;
  display: flex;
  background-color: #003a33;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 2000;
}

.navLogo img {
  height: 50px;
  margin: 10px;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.links {
  list-style: none;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
}

.links:hover {
  color: #db703b;
  font-weight: 600;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 5%;
}

.loginButton {
  width: 150px;
  height: 40px;
  background-color: #db703b;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
}

.loginButton:hover {
  background-color: #b85b2f;
  border: none;
  color: black;
}

.hamburguesa {
  display: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .hamburguesa {
    display: block;
  }

  .navBar {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #003a33;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .navBar.active {
    transform: translateY(0);
  }

  ul {
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
  }

  .loginContainer {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .loginButton {
    width: 80%;
    max-width: 250px;
  }
}
