.navBarAdminContainer {
  display: flex;
  flex-direction: row;
  background-color: #db703b;
  justify-content: space-between;
  height: 80px;
}

.logoContainer img {
  height: 50px;
  margin: 10px 0 10px 0;
}
.userIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 1vw;
}

.buttonAddProperty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  gap: 10px;
  border: none;
  border-radius: 0.4rem;
  padding: 10px;
  color: white;
  transition: 0.2s ease;
}
.buttonLogout{
height: 50px;
width: 50px;
}