.detalleContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.infoContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/* Contenedor de carrusel + descripción */
.imgYDescContainer {
  display: flex;
  flex-direction: column; /* horizontal: carrusel a la izquierda, descripción a la derecha */
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px 0;
}

/* Contenedor del carrusel */
.carouselContainer {
  max-width: 600px;
  max-height: 300px;
}

.carouselImg {
  min-width: 600px;
  max-width: 600px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Contenedor de tabla */
.tableDetalle {
  width: 100%;
  table-layout: fixed; 
  margin-bottom: 10px;
}

.tableDetalle td {
  vertical-align: middle;
  text-align: center;
  padding: 5px 10px;
  word-wrap: break-word;
}

/* Contenedor de descripción */
.descripcionContainer {
  width: 600px; /* más pequeña que el carrusel */
  max-height: 400px;
  overflow-y: auto;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Carrusel de miniaturas (opcional) */
.imgsContainer {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  max-height: 300px;
  gap: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.imgDetalleAdmin {
  width: 200px;
  height: auto;
}

/* Botones */
.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.buttonClose {
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 6px 12px;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonEdit {
  background-color: #5a8f7b;
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 6px 12px;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonEdit:hover {
  background-color: #77a592;
  cursor: pointer;
}

.buttonDelete {
  background-color: #c65d3a;
  color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 6px 12px;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonDelete:hover {
  background-color: #e0775b;
  cursor: pointer;
}
